#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.mainh {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }
  
  .mainh {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}